process{
            withName: 'profile_bam'{
                    time = '10h'
                    cpus=8
                    memory = '15 GB'

                }
            
            withName: 'compare_fast_profiles_single' {
                    time = '3m'
                    cpus=4
                    memory = '8 GB'


                }

            withName: 'compare_fast_profiles_batched' {
                    time = '10h'
                    cpus=10
                    memory = '120 GB'
                }

            withName: 'prepare_gene_location_table' {
                    time = '1h'
                    cpus=4
                    memory = '50 GB'
                }
            withName: 'prepare_gene_range_table' {
                    time = '10m'
                    cpus=4
                    memory = '8 GB'
                }
            withName: 'build_null_model' {
                    time = '10m'
                    cpus=4
                    memory = '8 GB'
                }
            withName: 'index_reference' {
                    time = '1h'
                    cpus=8
                    memory = '30 GB'
                }
            withName: 'map_reads' {
                    time = '10h'
                    cpus=32
                    memory = '120 GB'
                }
            withName: 'merge_comparison_tables' {
                    time = '10h'
                    cpus=8
                    memory = '15 GB'
                }
            withName: 'merge_breadth_tables' {
                    time = '5h'
                    cpus=8
                    memory = '30 GB'
                }

            withName: 'get_genome_breadth' {
                    time = '10h'
                    cpus=8
                    memory = '32 GB'
                }
            withName: 'get_sequences_from_sra' {
                    time = '4h'
                    cpus=4
                    memory = '8 GB'
                }
        }


profiles {
    alpine {
        apptainer {
            enabled = true
                }
        process{
            executor ='slurm'
            queue = 'amilan'
            container = '/pl/active/olm-data3/containers/fastprofile_amd64.sif'
            clusterOptions = '--qos=normal'

            }
    }
    gutbot {
        apptainer {
            enabled = true
                }
        process{

            container = '/pl/active/olm-data3/containers/fastprofile_amd64.sif'
        }

            }
    blanca {
	apptainer {
            enabled = true

                }
        process{
            executor ='slurm'
            maxRetries = 10
	        errorStrategy='retry'
            clusterOptions = '--qos=preemptable --exclude=bnode0509,bnode0405,bhpc-c7-u7-6,blanca-g4-u14-1'
            container = '/pl/active/olm-data3/containers/fastprofile_amd64.sif'
        }

            }

    docker {
        docker {
            enabled = true
                }
        process{
            executor ='local'
            container = 'parsaghadermazi/zipstrain'
                
            }
        
    }   
}
