process {
    withName: 'download_sylph_db' {
        time = '30m'
        cpus = 1
        memory = '4 GB'
    }

    withName: 'estimate_abundance_sylph' {
        time = '10h'
        cpus = 8
        memory = '32 GB'
    }

    withName: 'merge_sylph_abundance_tables' {
        time = '30m'
        cpus = 1
        memory = '4 GB'
    }

    withName: 'build_db_from_Sylph' {
        time = '6h'
        cpus = 8
        memory = '32 GB'
    }

    withName: 'profile_bam' {
        time = '10h'
        cpus = 8
        memory = '15 GB'
    }

    withName: 'compare_genome_fast_profiles_single' {
        time = '10h'
        cpus = 8
        memory = '40 GB'
    }

    withName: 'compare_gene_fast_profiles_single' {
        time = '1h'
        cpus = 8
        memory = '40 GB'
    }

    withName: 'compare_genome_batched' {
        time = '10h'
        cpus = 10
        memory = '80 GB'
    }

    withName: 'compare_gene_batched' {
        time = '1h'
        cpus = 10
        memory = '80 GB'
    }

    withName: 'prepare_profile' {
        time = '1h'
        cpus = 4
        memory = '50 GB'
    }

    withName: 'prepare_profile_no_genes' {
        time = '1h'
        cpus = 4
        memory = '50 GB'
    }

    withName: 'index_reference' {
        time = '1h'
        cpus = 8
        memory = '30 GB'
    }

    withName: 'map_reads' {
        time = '10h'
        cpus = 32
        memory = '120 GB'
    }

    withName: 'merge_comparison_tables' {
        time = '10h'
        cpus = 8
        memory = '15 GB'
    }

    withName: 'get_sequences_from_sra' {
        time = '4h'
        cpus = 4
        memory = '8 GB'
    }

    withName: 'fromSRAtoProfile' {
        time = '20h'
        cpus = 16
        memory = '64 GB'
    }

    withName: 'fromSRAtoProfileBuildDb' {
        time = '20h'
        cpus = 8
        memory = '64 GB'
    }
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '--platform linux/amd64'
        process.executor = 'local'
        process.container = 'parsaghadermazi/zipstrain:1.0.0'
    }

    apptainer {
        docker.enabled = false
        apptainer.enabled = true
        apptainer.autoMounts = true
        process.executor = 'local'
        process.container = 'docker://parsaghadermazi/zipstrain:1.0.0'
    }
}
